@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 42, 31, 49;
  --background-start-rgb: 193, 192, 201;
  --background-end-rgb: 174, 172, 182;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 193, 192, 201;
    --background-end-rgb: 42, 31, 49;
    --background-start-rgb: 48, 47, 61;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to top,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
